#wrap{

    font-family: sans-serif;
    color: rgba(255,255,255,0.8);
}

#container {
  
    border-radius: 200px;
    background: rgba(255,255,255,0.2);
    background-repeat: no-repeat;
    padding: 30px; 
    width: 148px;
    height: 148px; 
    position: absolute;
    left: 36%;
    top: 5%;
    
}
#photo {
    
    bottom: 6.4px;
    left: 6.05px;
    border-radius: 105px;
    width: 135px;
    height: 135px; 
    position: absolute;
   
}
#name{

    position: relative;
    padding-top: 30%;
    text-align: center;
    color: rgba(255,255,255,0.8);
    text-shadow: #333 2px 2px 3px;
}
#pad{
    padding-top: 3%;
}
#second_button{
    float: right;
}
